h1,
.h1 {
}

h2,
.h2 {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 40px;
  line-height: 1.275;
  font-weight: 700;

  @include media-breakpoint-down(md) {
    font-size: 32px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 28px;
  }
}

h3,
.h3 {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 32px;
  line-height: 1.28;
  font-weight: 700;

  @include media-breakpoint-down(md) {
    font-size: 24px;
  }
}

h4,
.h4 {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 700;

  @include media-breakpoint-down(md) {
    font-size: 24px;
  }
}

h5,
.h5 {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 700;

  @include media-breakpoint-down(md) {
    font-size: 18px;
  }
}

h6,
.h6 {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 700;
}

p,
.p {
  margin-top: 0;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }

  &.lg {
    font-size: 20px;
    line-height: 1.3;
  }

  &.sm {
    font-size: 14px;
    line-height: 1.6;
  }

  &.xs {
    font-size: 12px;
    line-height: 1.3;
  }

  &.xxs {
    font-size: 10px;
    line-height: 1.3;
  }
}

.font-weight-thin {
  font-weight: 100;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-normal {
  font-weight: 400;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semibold {
  font-weight: 600;
}

.font-weight-heavy {
  font-weight: 700;
}

.font-weight-black {
  font-weight: 900;
}

.mb-0 {
  margin-bottom: 0;
}

.semi-transparent {
  opacity: .7;
}

.transparent {
  opacity: .5;
}

.text-light {
  color: #f4f7f9;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
