@font-face {
  font-family: 'Mont';
  src: url('../fonts/subset-Mont-Light.woff2') format('woff2'),
    url('../fonts/subset-Mont-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont';
  src: url('../fonts/subset-Mont-SemiBold.woff2') format('woff2'),
    url('../fonts/subset-Mont-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont';
  src: url('../fonts/subset-Mont-Regular.woff2') format('woff2'),
    url('../fonts/subset-Mont-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont';
  src: url('../fonts/subset-Mont-Bold.woff2') format('woff2'),
    url('../fonts/subset-Mont-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont';
  src: url('../fonts/subset-Mont-Heavy.woff2') format('woff2'),
    url('../fonts/subset-Mont-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

//@font-face {
//  font-family: 'Mont';
//  src: url('/fileservice/file/download/h/26dd4fa819f35af6bc25714f5be880d0.woff2/a/529806/sc/246') format('woff2'),
//    url('/fileservice/file/download/h/cf05ff7da75095012236d0d1ffbdc952.woff/a/529806/sc/236') format('woff');
//  font-weight: 300;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Mont';
//  src: url('/fileservice/file/download/h/aa7b38d619e2e010a270f31fd2f4032c.woff2/a/529806/sc/169') format('woff2'),
//    url('/fileservice/file/download/h/5a0b8599e6d442f5181e6068639233a6.woff/a/529806/sc/479') format('woff');
//  font-weight: 600;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Mont';
//  src: url('/fileservice/file/download/h/e2aa365df1b3848181499522dd698270.woff2/a/529806/sc/12') format('woff2'),
//    url('/fileservice/file/download/h/21d604f46a52f0ed10c6ed3420cdc605.woff/a/529806/sc/169') format('woff');
//  font-weight: normal;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Mont';
//  src: url('/fileservice/file/download/h/8ecacccb419f09026c338d598ab1029d.woff2/a/529806/sc/239') format('woff2'),
//    url('/fileservice/file/download/h/2958f3a2162b303bdb1d13c0ad635797.woff/a/529806/sc/83') format('woff');
//  font-weight: bold;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Mont';
//  src: url('/fileservice/file/download/h/1477c7a09d07d1cca8fa2803d6c0c132.woff2/a/529806/sc/176') format('woff2'),
//    url('/fileservice/file/download/h/4c6e984b6d07e85b16b5b067506fd32e.woff/a/529806/sc/154') format('woff');
//  font-weight: 800;
//  font-style: normal;
//  font-display: swap;
//}
