.cover {
  margin-bottom: 15px;

  @include media-breakpoint-down(lg) {
    margin-bottom: 32px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__left {
    margin-right: 56px;
    max-width: 53%;

    @include media-breakpoint-down(lg) {
      margin-right: 32px;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      max-width: 100%;
    }
  }

  &__title {
    margin-bottom: 30px !important;

    @include media-breakpoint-down(lg) {
      margin-bottom: 20px !important;
    }
  }

  &__picture {
    flex-shrink: 0;

    @include media-breakpoint-down(md) {
      max-width: 50%;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__picture-img {
    max-width: 100%;
  }
}
