mixin cover(data)
  .cover&attributes(attributes)
    .container
      .cover__wrapper
        .cover__left
          +back
          h2.cover__title= data.title
          p.semi-transparent.mb-0= data.dscr
        .cover__picture
          img.cover__picture-img(src="./img/" + data.picture, alt)
