mixin module(data)
  .module&attributes(attributes)
    .module__content
      .module__top
        h6.module__course Курс Глемпинг
        h4.module__title= data.title
      .module__bottom
        a.btn.btn--outline.module__btn(href="#") Приступить
