.module {
  padding: 30px 32px 44px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  background: #f4f7f9;
  border-radius: 40px;

  &__content {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
  }

  &__course {
    color: rgba(#2a3338, .5);
  }

  &__title {
  }

  &__bottom {
    box-sizing: border-box;
    width: 100%;
  }

  &__btn {
    padding-top: 14px;
    padding-bottom: 12px;
    box-sizing: border-box;
    width: 100%;
  }
}
