mixin programms(data)
  .programms&attributes(attributes)
    .container
      h3.programms__header Доступные программы
      +program({
        header: 'Акселератор для предпринимателей в сфере туризма',
        dscr: 'Программа интенсивного развития работающих бизнесов и существующих проектов в туристской отрасли более 2 лет с целью превращения проекта в масштабируемый бизнес и обеспечение соответствия условиям получения финансовой поддержки и инвестиций. В рамках акселерации существующие компании проходят программы, направленные на стимулирование туристских сервисов и продуктов.',
        picture: 'program-1.png'
      })
      +program({
        header: 'Инкубатор для предпринимателей в сфере туризма',
        dscr: 'Программа подготовки к запуску новых бизнесов на начальной стадии («старт ап»), оказывающих услуги и сервисы в туристской отрасли, в том числе работающих на рынке до 2 лет. В рамках инкубационной программы бизнес идея проходит комплексный процесс анализа с целью формирования экономически целесообразного и эффективного бизнес плана с учетом всех текущих особенностей и возможностей предпринимательской деятельности в туристской отрасли.',
        picture: 'program-2.png'
      })
