/* Bootstrap */

.container {
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
  max-width: 1120px;

  @include media-breakpoint-down(sm) {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.btn {
  padding: 10px 24px 9px;
  display: inline-flex;
  justify-content: center;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  transition: all .3s ease-in-out;

  @include media-breakpoint-down(sm) {
    padding: 8px 16px 7px;
    font-size: 14px;
    font-weight: 400;
  }

  &--primary {
    color: #fff;
    background: #e5270e;

    &:hover {
      background: lighten(#e5270e, 5%);
    }
  }

  &--light {
    color: #e5270e;
    background: rgba(229, 39, 14, .1);

    &:hover {
      background: rgba(229, 39, 14, .07);
    }
  }

  &--outline {
    color: #e5270e;
    border: 2px solid #e5270e;

    &:hover {
      color: #fff;
      background: #e5270e;
    }
  }

  &.btn-lg {
    padding: 16px 32px 14px;
  }
}

.custom-radio {
  position: relative;
  padding-left: 42px;

  @include media-breakpoint-down(md) {
    padding-left: 30px;
  }

  .custom-control-input {
    display: none;

    &:checked ~ .custom-control-label {

      &:after {
        opacity: 1;
      }
    }
  }

  .custom-control-label {
    margin-bottom: 0 !important;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    color: rgba(#2a3338, .7);
    cursor: pointer;

    @include media-breakpoint-down(md) {
      font-size: 14px;
    }

    &:before {
      position: absolute;
      top: -1px;
      left: 0;
      display: block;
      width: 24px;
      height: 24px;
      content: '';
      border: 1px solid #e5270e;
      border-radius: 50%;

      @include media-breakpoint-down(md) {
        top: 2px;
        width: 16px;
        height: 16px;
      }
    }

    &:after {
      position: absolute;
      top: 5px;
      left: 6px;
      display: block;
      width: 14px;
      height: 14px;
      opacity: 0;
      content: '';
      background: #e5270e;
      border-radius: 50%;

      @include transition;

      @include media-breakpoint-down(md) {
        top: 6px;
        left: 4px;
        width: 10px;
        height: 10px;
      }
    }
  }
}

.custom-checkbox {
  position: relative;
  padding-left: 42px;

  @include media-breakpoint-down(md) {
    padding-left: 30px;
  }

  .custom-control-input {
    display: none;

    &:checked ~ .custom-control-label {

      &:after {
        opacity: 1;
      }
    }
  }

  .custom-control-label {
    font-size: 14px;
    line-height: 1.6;
    color: #000;

    @include media-breakpoint-down(md) {
      font-size: 14px;
    }

    &:before {
      position: absolute;
      top: -1px;
      left: 0;
      display: block;
      width: 24px;
      height: 24px;
      content: '';
      border: 1px solid #e5270e;
      border-radius: 4px;

      @include media-breakpoint-down(md) {
        top: 2px;
        width: 16px;
        height: 16px;
      }
    }

    &:after {
      position: absolute;
      top: 8px;
      left: 7px;
      display: block;
      width: 12px;
      height: 8px;
      opacity: 0;
      content: '';
      background: url(https://fs.getcourse.ru/fileservice/file/download/a/529806/sc/231/h/2b6ee2afd661b40ecf097e10c981a360.png)
        no-repeat center;
      background-size: contain;

      @include transition;

      @include media-breakpoint-down(md) {
        top: 6px;
        left: 4px;
        width: 10px;
        height: 10px;
      }
    }

    a {
      text-decoration: none;
      color: #e5270e;
    }
  }
}

/* GetCourse */

.lt-form-normal .modal-block-content {
  margin-left: 0 !important;
  width: 100% !important;
  flex: 0 0 auto;
}

.form-content {

  .builder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 32px;

    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr 1fr;
    }

    @include media-breakpoint-down(xs) {
      grid-template-columns: 1fr;
      grid-gap: 16px;
    }
  }

  .builder-item {
    margin-bottom: 0 !important;
  }

  .f-input {
    padding: 16px;
    height: 64px;
    font-size: 16px;
    color: #2a3338;
    border: 1px solid #dedede;
    border-radius: 8px;
    box-shadow: none;

    @include placeholder(rgba(42, 51, 56, .5));
  }

  select.f-input {
    background: #fff
      url(https://fs.getcourse.ru/fileservice/file/download/a/529806/sc/394/h/4f7eeda415aeebbc949d22bf92ab8846.svg)
      no-repeat right 16px center;
    background-size: 16px;
    border: 1px solid #dedede !important;
    appearance: none;
  }

  .f-btn {
    padding: 16px 32px 14px;
    display: inline-flex;
    min-height: 0 !important;
    justify-content: center;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #fff !important;
    background: #e5270e !important;
    border-radius: 100px;
    transition: all .3s ease-in-out;

    &:hover {
      background: lighten(#e5270e, 5%) !important;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
}

.global-confirm-checkbox-block {
  position: relative;
  margin-top: 20px;
  padding-left: 42px;

  @include media-breakpoint-down(md) {
    padding-left: 30px;
  }

  .global-confirm-checkbox {
    display: none;

    &:checked ~ .checkbox-text {

      &:after {
        opacity: 1;
      }
    }
  }

  .checkbox-text {
    margin-left: 0 !important;
    font-size: 14px;
    line-height: 1.6;
    color: #000;

    @include media-breakpoint-down(md) {
      font-size: 14px;
    }

    &:before {
      position: absolute;
      top: 8px;
      left: 0;
      display: block;
      width: 24px;
      height: 24px;
      content: '';
      border: 1px solid #e5270e;
      border-radius: 4px;

      @include media-breakpoint-down(md) {
        top: 13px;
        width: 16px;
        height: 16px;
      }
    }

    &:after {
      position: absolute;
      top: 16px;
      left: 6px;
      display: block;
      width: 12px;
      height: 8px;
      opacity: 0;
      content: '';
      background: url(https://fs.getcourse.ru/fileservice/file/download/a/529806/sc/231/h/2b6ee2afd661b40ecf097e10c981a360.png)
        no-repeat center;
      background-size: contain;

      @include transition;

      @include media-breakpoint-down(md) {
        top: 16px;
        left: 3px;
        width: 10px;
        height: 10px;
      }
    }

    a {
      text-decoration: none;
      color: #e5270e;
    }
  }
}

.lt-block {

  label {
    font-weight: 400;
  }

  .custom-radio .custom-control-label {

    &:before {
      top: 5px;
    }

    &:after {
      top: 10px;
      left: 5px;
    }
  }

  .custom-checkbox .custom-control-label {

    &:before {
      top: 5px !important;
    }

    &:after {
      top: 13px !important;
      left: 5px !important;
    }
  }

  .test .custom-radio .custom-control-label {

    &:before {

      @include media-breakpoint-down(md) {
        top: 4px;
      }
    }

    &:after {

      @include media-breakpoint-down(md) {
        top: 7px;
        left: 3px;
      }
    }
  }
}

.lesson-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;

  @include media-breakpoint-down(lg) {
    grid-template-columns: 1fr 1fr;
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr;
  }

  li {
    position: relative;
    margin: 0;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    background: #f4f7f9;
    border: 0 !important;
    border-radius: 40px !important;

    a {
      position: relative;
      z-index: 1;
      cursor: pointer !important;
    }

    .pull-right {
      margin-top: 0 !important;
      margin-bottom: 22px !important;
      padding: 30px 0 0 32px !important;
      display: block !important;
      float: none !important;
    }

    .gc-tags span {
      margin-right: 0;
      padding: 0;
      display: block;
      float: none;
      font-size: 16px;
      line-height: 1.3;
      font-weight: 700;
      color: rgba(#2a3338, .5);
      background: transparent;
    }

    &:hover {

      &:after {
        color: #fff !important;
        background: #e5270e !important;
      }
    }

    &:after {
      position: absolute;
      bottom: 44px;
      left: 32px;
      margin-top: auto;
      padding: 14px 24px 13px;
      display: inline-flex;
      width: calc(100% - 64px);
      justify-content: center;
      font-size: 16px;
      line-height: 1.3;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      content: 'Приступить';
      color: #e5270e;
      border: 2px solid #e5270e;
      border-radius: 100px;
      transition: all .3s ease-in-out;
      cursor: pointer;

      @include media-breakpoint-down(sm) {
        padding: 8px 16px 7px;
      }
    }

    .item-main-td {
      padding: 0 !important;
    }

    .info {
      background: transparent;
    }

    .state-icon-block {
      display: none;
    }

    .user-state-bg {
      background: transparent;
    }

    .vmiddle {
      margin-left: 0 !important;
      padding-right: 0 !important;
    }

    .title {
      margin-top: 0;
      margin-right: 0 !important;
      margin-bottom: 0 !important;
      padding: 0 32px 121px;
      font-size: 20px !important;
      line-height: 1.3;
      font-weight: 700;
      color: #2a3338;

      @include media-breakpoint-down(md) {
        font-size: 24px;
      }
    }

    .description {
      display: none;
    }
  }
}

.block-box.col-md-10 {
  width: 100%;
  flex-basis: 100%;
}
