mixin test(data)
  .test&attributes(attributes)
    h4.test__header= data.header
    .test__content
      each item, index in data.options
        .custom-control.custom-radio.test__item
          input.custom-control-input(type='radio', id=data.name + "id" + index, name=data.name)
          label.custom-control-label(for=data.name + "id" + index)= item
