.test {
  margin-bottom: 48px;

  &__header {
    margin-bottom: 24px !important;
  }

  &__content {
  }

  &__item {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
