
include ../blocks/logo/logo.pug
include ../blocks/header/header.pug
include ../blocks/btn/btn.pug
include ../blocks/front/front.pug
include ../blocks/appeal/appeal.pug
include ../blocks/promo/promo.pug
include ../blocks/program/program.pug
include ../blocks/footer/footer.pug
include ../blocks/socials/socials.pug
include ../blocks/back/back.pug
include ../blocks/course/course.pug
include ../blocks/cover/cover.pug
include ../blocks/module/module.pug
include ../blocks/article/article.pug
include ../blocks/video/video.pug
include ../blocks/material/material.pug
include ../blocks/test/test.pug
include ../blocks/task/task.pug
include ../blocks/intro/intro.pug
include ../blocks/review/review.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/radio/radio.pug
include ../blocks/checkbox/checkbox.pug
include ../blocks/person/person.pug
include ../blocks/programms/programms.pug
include ../blocks/contact/contact.pug
include ../blocks/subheader/subheader.pug
include ../blocks/grid/grid.pug
include ../blocks/contents/contents.pug