.contact {
  max-width: 200px;

  &__header {
    margin-bottom: 6px;
  }

  &__title {
  }

  &--email {

    .contact__header {
      display: block;
      text-decoration: none;
      color: #e5270e;
      transition: all .3s ease-in-out;

      &:hover {
        opacity: .8;
      }
    }
  }
}
