mixin contact(data)
  .contact&attributes(attributes)
    if data && data.type == 'email'
      a.h5.contact__header(href="mailto:" + data.header)= data.header
    else
      h5.contact__header= data.header
    p.xxs.transparent.mb-0.contact__title= data.dscr
