.article {

  &__course {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 800;
    color: rgba(#2a3338, .7);
  }

  &__section {
    margin-bottom: 52px;
    max-width: 75%;

    @include media-breakpoint-down(md) {
      margin-bottom: 32px;
      max-width: 100%;
    }

    &--short {
      max-width: 58.33%;

      @include media-breakpoint-down(md) {
        max-width: 100%;
      }
    }
  }

  &__header {
    margin-bottom: 32px;

    @include media-breakpoint-down(md) {
      margin-bottom: 16px;
    }
  }

  &__links {
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__link {
    margin-right: 24px;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 16px;
    }

    &:last-child {
      margin-right: 0;

      @include media-breakpoint-down(sm) {
        margin-bottom: 0;
      }
    }
  }
}
