mixin appeal(data)
  .appeal&attributes(attributes)
    .container
      .appeal__wrapper
        .appeal__left
          .appeal__picture
            img.appeal__picture-bg(src="./img/appeal-bg.png", alt)
            img.appeal__picture-img(src="./img/appeal-picture.jpg", alt)
        .appeal__right
          h3.appeal__header Приветственное слово участникам
          p.appeal__dscr.semi-transparent Предварительные выводы неутешительны: высокое качество позиционных исследований позволяет оценить значение поставленных обществом задач. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: разбавленное изрядной долей эмпатии, рациональное мышление способствует повышению качества экономической целесообразности принимаемых решений! Задача организации, в особенности же разбавленное изрядной долей эмпатии, рациональное мышление создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий
          h6.appeal__author-name Догузова Зарина
          p.sm.transparent.mb-0 Руководитель Федерального агентства по туризму  (Росутризм)
