.appeal {
  margin-top: 109px;
  margin-bottom: 76px;

  @include media-breakpoint-down(md) {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__left {
    width: 100%;
    max-width: 40%;
    flex-shrink: 0;

    @include media-breakpoint-down(md) {
      margin-bottom: 16px;
      max-width: none;
    }
  }

  &__picture {
    position: relative;
    padding-bottom: 67px;
  }

  &__picture-bg {
    position: absolute;
    top: 0;
    left: -48px;
    display: block;
    width: 473px;
    height: 100%;
    object-fit: contain;
    object-position: bottom center;

    @include media-breakpoint-down(lg) {
      left: 0;
      width: 360px;
    }

    @include media-breakpoint-down(sm) {
      width: auto;
      max-width: 100%;
    }
  }

  &__picture-img {
    position: relative;
    z-index: 1;
    max-width: 352px;
    flex-shrink: 0;
    border-radius: 174px;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }
  }

  &__right {
  }

  &__header {
    margin-bottom: 34px;

    @include media-breakpoint-down(md) {
      margin-bottom: 16px;
    }
  }

  &__dscr {
    margin-bottom: 40px !important;

    @include media-breakpoint-down(md) {
      margin-bottom: 20px !important;
    }
  }

  &__author-name {
    margin-bottom: 3px;
  }
}
