.socials {

  &__item {
    margin-right: 16px;
    display: inline-flex;
    width: 29px;
    height: 29px;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #24272a;
    border-radius: 50%;
    transition: all .3s ease-in-out;

    @include media-breakpoint-down(sm) {
      margin-right: 8px;
    }

    &:hover {
      background: #24272a;

      .socials__item-icon {
        filter: invert(1);
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__item-icon {
    transition: all .3s ease-in-out;
  }
}
