mixin socials(data)
  .socials&attributes(attributes)
    a.socials__item(href="#")
      img.socials__item-icon(src="./img/vk.png", alt)
    a.socials__item(href="#")
      img.socials__item-icon(src="./img/vk.png", alt)
    a.socials__item(href="#")
      img.socials__item-icon(src="./img/vk.png", alt)
