.contents {

  &__item {
    margin-bottom: 8px;
    display: block;
    font-size: 14px;
    line-height: 1.3;
    text-decoration: none;
    color: #e5270e;

    @include transition;

    &:hover {
      color: darken(#e5270e, 10%);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
