mixin contents(data)
  .contents&attributes(attributes)
    a.contents__item(href="#") 1. Введение. Что такое глэмпинг и глэмпинг-туризм.
    a.contents__item(href="#") 2. Чем отличаются кемпинг и глэмпинг.
    a.contents__item(href="#") 3. Потенциал развития глэмпинга в России.
    a.contents__item(href="#") 4. Основы концепции проекта глэмпинга.
    a.contents__item(href="#") 5. Анализ успешных примеров реализации проектов глэмпинга (отечественных и   международных).
    a.contents__item(href="#") 6. Юридические основы проектирования, реализации и управления глэмпинг   проектом.
