.review {
  margin-bottom: 40px;

  &__header {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
  }

  &__userpic {
    position: relative;
    margin-right: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    @include media-breakpoint-down(sm) {
      margin-right: 16px;
    }
  }

  &__userpic-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
  }

  &__name {
    margin-bottom: 0 !important;
  }

  &__content {
  }

  &__text {
    color: rgba(#2a3338, .7);
  }

  .review {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 37px;

    @include media-breakpoint-down(sm) {
      padding-left: 24px;
    }
  }
}
