mixin review(data)
  .review&attributes(attributes)
    .review__header
      .review__userpic
        img.review__userpic-img(src="./img/" + data.userpic, alt)
      h6.review__name= data.name
    .review__content
      p.review__text= data.dscr
    if block
      block
