mixin material(data)
  .material&attributes(attributes)
    .material__left
      h6.mb-0.material__title= data.title
    .material__right
      a.material__link(href="#")= data.link
      if data && data.size
        .material__size= data.size
