.material {
  margin-bottom: 16px;
  padding: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f7f9;
  border-radius: 24px;

  @include media-breakpoint-down(sm) {
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 16px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__left {
    margin-right: 32px;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 16px;
    }
  }

  &__title {
    margin-bottom: 0 !important;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    text-decoration: none;
    color: #e5270e;

    @include transition;

    &:hover {
      color: darken(#e5270e, 10%);
    }

    @include media-breakpoint-down(sm) {
      margin-right: 16px;
    }
  }

  &__size {
    margin-top: 4px;
    font-size: 16px;
    line-height: 1;
    font-weight: 300;
    color: #2a3338;

    @include media-breakpoint-down(sm) {
      margin-top: 0;
    }
  }
}
