mixin footer(data)
  .footer&attributes(attributes)
    .container
      .footer__top
        .footer__top-left
          .footer__top-item
            +contact({
              header: '+7 (800) 200-34-11',
              dscr: 'Горячая линия в связи с закрытием аэропортов. С 8:00 до 20:00 мск'
            })
          .footer__top-item
            +contact({
              header: '+7 (499) 678-12-03',
              dscr: 'Телефон Ассоциации «Турпомощь»'
            })
          .footer__top-item
            +contact({
              type: 'email',
              header: 'info@rusturism.ru',
              dscr: 'Телефон Ассоциации «Турпомощь»'
            }).contact--email
        .footer__top-right
          +socials
      .footer__bottom
        p.xs.mb-0.font-weight-semibold.transparent.mb-0 Россия, 125039, Москва, Пресненская наб., д. 10, стр. 2
        a.footer__link(href="#") Политика конфиденциальности
