.footer {
  margin-top: 53px;
  padding-bottom: 56px;

  @include media-breakpoint-down(md) {
    padding-bottom: 32px;
  }

  &__top {
    margin-bottom: 56px;
    padding-top: 27px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid rgba(#e5270e, .2);

    @include media-breakpoint-down(md) {
      margin-bottom: 32px;
      flex-direction: column-reverse;
    }
  }

  &__top-left {
    margin-right: 32px;
    padding-top: 12px;
    display: flex;
    flex-grow: 1;

    @include media-breakpoint-down(lg) {
      padding-top: 0;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
      margin-right: 0;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__top-item {
    flex: 0 1 30%;

    @include media-breakpoint-down(md) {
      flex: 0 1 33.33%;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 16px;
    }
  }

  &__top-right {
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @include media-breakpoint-down(sm) {
      flex-direction: column-reverse;
    }
  }

  &__link {
    font-size: 10px;
    line-height: 1.3;
    font-weight: 600;
    text-decoration: none;
    color: #e5270e;
    transition: all .3s ease-in-out;

    @include media-breakpoint-down(sm) {
      margin-bottom: 12px;
    }

    &:hover {
      opacity: .8;
    }
  }
}
