mixin program(data)
  .program&attributes(attributes)
    .program__content
      h3.program__header= data.header
      p.program__dscr.semi-transparent= data.dscr
      a.btn.btn--outline(href="#") Принять участие
    .program__media
      img.program__picture(src="./img/" + data.picture, alt)
