.program {
  margin-bottom: 40px;
  padding: 48px 50px;
  display: flex;
  background: #f4f7f9;
  border-radius: 40px;

  @include media-breakpoint-down(md) {
    padding: 24px;
    align-items: flex-start;
    border-radius: 20px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 32px;
    flex-direction: column-reverse;
  }

  &__content {
    margin-right: 32px;
    max-width: 67%;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      max-width: 100%;
    }
  }

  &__header {
    margin-bottom: 24px;
  }

  &__dscr {
    margin-bottom: 24px !important;
  }

  &__media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      max-width: 160px;
    }
  }

  &__picture {
  }
}
