extends ../templates/template.pug
block content
  +header
  .container
    +back
    .article
      .article__section.article__section--short
        .article__course Курс Глемпинг
        h2.article__header Модуль 1
        p.semi-transparent.mb-0 Краткое описание тематики модуля, для кого он подходит, чему научитесьзнес идея проходит комплексный процесс анализа с целью формирования экономически целескраткое описание тематики модуля, для кого он подходит, чему научитесьообразного и эффективного бизнес плана с учетом всех текущих особенностей и возможностей предпринимательской деятельности в туристской отрасли.
      .article__section
        h3.article__header Содержание модуля
        +contents
      .article__section
        h3.article__header 1.  Введение. Что такое глэмпинг и глэмпинг-туризм.
        +video
        +material({
          title: 'Название и описание курса в одну или несколько строк для наглядности отображения',
          link: 'Скачать файл',
          size: 'pdf 16 mb'
        })
        +material({
          title: 'Ссылка на ресурс с нужной информацией для курса',
          link: 'Перейти'
        })
        +material({
          title: 'Название и описание курса в одну или несколько строк для наглядности отображения',
          link: 'Скачать файл',
          size: 'pdf 16 mb'
        })
      .article__section
        h3.article__header Тестовое задание
        form.form(action="#", method="POST")
          +test({
            header: 'Вопрос 1.  Турист имеет право на: ',
            options: ['получение копии свидетельства о внесении сведений о туроператоре в реестр', 'обеспечение в соответствии с настоящим Федеральным законом экстренной помощи за счет средств резервного фонда объединения туроператоров в сфере выездного туризма;', 'содействие органов власти (органов местного самоуправления) страны (места) временного пребывания в получении правовой и иных видов неотложной помощи', 'необходимую и достоверную информацию о правилах въезда в страну (место) временного пребывания и пребывания там, об обычаях местного населения, о религиозных обрядах, святынях, памятниках природы, истории, культуры и других объектах туристского показа, находящихся под особой охраной, состоянии окружающей среды', 'всё вышеперечисленное'],
            name: 'test1'
          })
          +test({
            header: 'Вопрос 2.  Под безопасностью туризма понимается:',
            options: ['безопасность туристов (экскурсантов), сохранность их имущества, а также ненанесение ущерба при совершении путешествий окружающей среде, материальным и духовным ценностям общества, безопасности государства;', 'безопасность туристов (экскурсантов), сохранность их имущества, а также ненанесение ущерба при совершении путешествий окружающей среде'],
            name: 'test2'
          })
          button.btn.btn--primary.btn-lg(type="submit") Отрпавить ответы
      .article__section
        h3.article__header Отзывы к теме
        +review({
          userpic: 'review-1.jpg',
          name: 'Виктор Соколов',
          dscr: 'Предварительные выводы неутешительны: высокое качество позиционных исследований позволяет оценить значение поставленных обществом задач. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: разбавленное изрядной долей эмпатии, рациональное мышление способствует повышению качества экономической целесообразности принимаемых решений! Задача организации, в особенности же разбавленное изрядной долей эмпатии, рациональное мышление '
        })
          +review({
            userpic: 'review-2.jpg',
            name: 'Ольга Макарова',
            dscr: 'Предварительные выводы неутешительны: высокое качество позиционных исследований позволяет оценить значение поставленных обществом задач. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: разбавленное изрядной долей эмпатии,'
          })
        +review({
          userpic: 'review-3.jpg',
          name: 'Ибрагим Чунаков',
          dscr: 'Предварительные выводы неутешительны: высокое качество позиционных исследований позволяет оценить значение поставленных обществом задач. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: разбавленное изрядной долей эмпатии'
        })
      .article__links
        a.btn.btn--outline.btn-lg.article__link(href="#") Предыдущая тема
        a.btn.btn--primary.btn-lg.article__link(href="#") Следующая тема
  +footer
