extends ../templates/template.pug
block content
  +header
  +cover({
    title: 'Туристический инкубатор',
    dscr: 'Программа подготовки к запуску новых бизнесов на начальной стадии («старт ап»), оказывающих услуги и сервисы в туристской отрасли, в том числе работающих на рынке до 2 лет. В рамках инкубационной программы бизнес идея проходит комплексный процесс анализа с целью формирования экономически целесообразного и эффективного бизнес плана с учетом всех текущих особенностей и возможностей предпринимательской деятельности в туристской отрасли.',
    picture: 'cover-1.png'
  })
  .container
    h3.subheader Выберите курс
  .container
    .grid.grid--three
      .grid__item
        +course({
          title: 'Глемпинг',
          picture: 'course-1.jpg'
        })
      .grid__item
        +course({
          title: 'Отели',
          picture: 'course-2.jpg'
        })
      .grid__item
        +course({
          title: 'Детские пакеты',
          picture: 'course-3.jpg'
        })
      .grid__item
        +course({
          title: 'Национальные туристические маршруты',
          picture: 'course-4.jpg'
        })
      .grid__item
        +course({
          title: 'Russia Friendly',
          picture: 'course-5.jpg'
        })
  +footer
