extends ../templates/template.pug
block content
  +header
  +cover({
    title: 'Курс Глемпинг',
    dscr: 'Программа базовых методических рекомендаций и видео контента по разработке бизнес-идеи создания глэмпингов и развития существующего с учетом международных и отечественных практик и современных тенденций туристической отрасли.',
    picture: 'cover-2.png'
  })
  .container
    h3.subheader Доступные модули
  .container
    .grid.grid--three
      .grid__item
        +module({
          title: 'Модуль 1'
        })
      .grid__item
        +module({
          title: 'Модуль 2'
        })
      .grid__item
        +module({
          title: 'Модуль 3'
        })
      .grid__item
        +module({
          title: 'Модуль 4'
        })
  +footer
