extends ../templates/template.pug
block content
  +header
  .container
    +back
    h2 Регистрация на платформе
  .container
    form.form(action="#", method="POST")
      .grid.grid--four.grid--form
        .grid__item.form__item
          .form__label Фамилия
          input.input.form__input(type="text", placeholder="Введите")
        .grid__item.form__item
          .form__label Имя
          input.input.form__input(type="text", placeholder="Введите")
        .grid__item.form__item
          .form__label Отчество
          input.input.form__input(type="text", placeholder="Введите")
        .grid__item.form__item.form__item--radios
          h6.form__subheader Выберите пол
          .form__item-radios-wrapper
            .custom-control.custom-radio.form__item-radio
              input#sexMale.custom-control-input(type='radio' name='sex')
              label.custom-control-label(for='sexMale') Мужской
            .custom-control.custom-radio
              input#sexFemale.custom-control-input(type='radio' name='sex')
              label.custom-control-label(for='sexFemale') Женский
        .grid__item.form__item
          .form__label Страна
          input.input.form__input(type="text", placeholder="Введите")
        .grid__item.form__item
          .form__label Регион
          input.input.form__input(type="text", placeholder="Введите")
        .grid__item.form__item
          .form__label Организация
          input.input.form__input(type="text", placeholder="Введите")
        .grid__item.form__item.grid__item--placeholder
        .grid__item.form__item.grid__item--offset
          .form__label E-mail
          input.input.form__input(type="email", placeholder="Введите")
        .grid__item.form__item.grid__item--offset
          .form__label Пароль
          input.input.form__input(type="password", placeholder="Введите")
        .grid__item.form__item.grid__item--offset
          .form__label Повторите пароль
          input.input.form__input(type="password", placeholder="Введите")
      .form__footer
        .form__footer-btn
          button.btn.btn--primary.btn-lg(type="submit") Зарегистрироваться
        .form__footer-check
          .custom-control.custom-checkbox
            input#agreement.custom-control-input(type='checkbox')
            label.custom-control-label(for='agreement') Принимаю 
              a(href="#") соглашение об обработке персональных данных
  +footer
