.grid {
  display: grid;
  grid-gap: 32px;

  &__item {
    display: flex;
    box-sizing: border-box;
    width: 100%;

    &--offset {
      margin-top: 16px;

      @include media-breakpoint-down(lg) {
        margin-top: 0;
      }
    }

    &--placeholder {
      opacity: 0;
      border: 0;

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }

  &--three {
    grid-template-columns: 1fr 1fr 1fr;

    @include media-breakpoint-down(lg) {
      grid-template-columns: 1fr 1fr;
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr;
    }
  }

  &--four {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @include media-breakpoint-down(lg) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr 1fr;
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr;
      grid-gap: 16px;
    }
  }

  &--form {

    .grid__item {
      flex-direction: column;
    }
  }
}
