mixin front(data)
  .front&attributes(attributes)
    .container
      .front__wrapper
        .front__left
          h2.front__title Информационно – коммуникационная образовательная платформа
          p.lg.font-weight-light.mb-0 Федерального агентства по туризму 
        .front__right
          img.front__cover(src="./img/front.png", alt)
