.front {
  margin-top: 42px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include media-breakpoint-down(lg) {
    margin-top: 20px;
  }

  &__wrapper {
    display: flex;

    @include media-breakpoint-down(md) {
      flex-direction: column-reverse;
    }
  }

  &__left {
    margin-right: 32px;
    max-width: 420px;

    @include media-breakpoint-down(md) {
      margin-right: 0;
      max-width: 100%;
    }
  }

  &__title {
    margin-bottom: 58px;

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }
  }

  &__right {
    max-width: 644px;
    flex-grow: 1;

    @include media-breakpoint-down(md) {
      margin-bottom: 32px;
      max-width: 100%;
    }
  }

  &__cover {
    max-width: 100%;
  }
}
