.video {
  margin-bottom: 32px;

  &__media {
    position: relative;
    padding-top: 56.31%;
    display: block;
    width: 100%;

    &:hover {

      .video__play {
        opacity: .8;
        transition: all .3s ease-in-out;
      }
    }
  }

  &__media-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    object-fit: contain;

    @include media-breakpoint-down(sm) {
      border-radius: 20px;
    }
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 96px;
    height: 96px;
    content: '';
    transform: translate(-50%, -50%);

    @include media-breakpoint-down(sm) {
      width: 60px;
      height: 60px;
    }
  }
}
