mixin video(data)
  .video&attributes(attributes)
    a.video__media(href="https://youtu.be/ScMzIvxBSi4", data-fancybox)
      img.video__media-bg(src="./img/intro-media-bg.png", alt)
      img.video__play(src="./img/play.png", alt)
