.person {
  margin: 0 auto;
  display: flex;
  max-width: 450px;
  align-items: center;

  @include media-breakpoint-down(sm) {
    align-items: flex-start;
  }

  &__picture {
    position: relative;
    margin-right: 30px;
    width: 66px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 50%;

    @include media-breakpoint-down(sm) {
      margin-right: 16px;
    }
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
  }

  &__content {
  }

  &__name {
    margin-bottom: 3px;
  }
}
