mixin person(data)
  .person&attributes(attributes)
    .person__picture
      img.person__picture-img(src="./img/person.jpg", alt)
    .person__content
      h6.person__name Елена Лысенкова
      p.sm.transparent.mb-0 Заместитель Руководителя Федерального агентства по туризму  (Росутризм)
