mixin intro(data)
  .intro&attributes(attributes)
    .container
      h3.intro__header Цели и задачи Акселератора и Икубатора
      .intro__wrapper
        img.intro__wrapper-bg(src="./img/intro-bg.png", alt)
        .intro__content
          a.intro__media(href="https://youtu.be/ScMzIvxBSi4", data-fancybox)
            img.intro__media-bg(src="./img/intro-media-bg.png", alt)
            img.intro__play(src="./img/play.png", alt)
      .intro__author
        +person
          
