.intro {
  margin-bottom: 98px;

  @include media-breakpoint-down(md) {
    margin-bottom: 40px;
  }

  &__header {
    margin-bottom: 25px;
    text-align: center;
  }

  &__wrapper {
    position: relative;
    padding-top: 103px;
    padding-bottom: 144px;

    @include media-breakpoint-down(md) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__wrapper-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top center;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__content {
    margin: 0 auto;
    max-width: 792px;
  }

  &__media {
    position: relative;
    padding-top: 56.31%;
    display: block;
    width: 100%;

    &:hover {

      .intro__play {
        opacity: .8;
        transition: all .3s ease-in-out;
      }
    }
  }

  &__media-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    object-fit: contain;

    @include media-breakpoint-down(sm) {
      border-radius: 20px;
    }
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 96px;
    height: 96px;
    content: '';
    transform: translate(-50%, -50%);

    @include media-breakpoint-down(sm) {
      width: 60px;
      height: 60px;
    }
  }

  &__author {
    margin-top: -100px;

    @include media-breakpoint-down(md) {
      margin-top: 20px;
    }
  }
}
