mixin course(data)
  .course&attributes(attributes)
    img.course__picture(src="./img/" + data.picture, alt)
    .course__content
      h4.course__title= data.title
      a.btn.btn--primary.course__btn(href="#") Пройти курс
