.course {
  position: relative;
  padding: 36px 32px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: 376px;
  border-radius: 40px;

  &:before {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(158.3deg, #2a3338 4.44%, rgba(42, 51, 56, 0) 85.77%);
    border-radius: 40px;
  }

  &__picture {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    object-fit: cover;
    object-position: top center;
  }

  &__content {
    position: relative;
    z-index: 3;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    color: #f4f7f9;
  }

  &__btn {
    padding-top: 16px;
    padding-bottom: 14px;
    box-sizing: border-box;
    width: 100%;
  }
}
