mixin header(data)
  .header&attributes(attributes)
    .container
      .header__wrapper
        .header__left
          +logo
        .header__right
          a.btn.btn--light.header__btn(href="#") Войти
          a.btn.btn--primary.header__btn(href="#") Регистрация
