.header {
  margin-bottom: 7px;
  padding: 40px 0;

  @include media-breakpoint-down(lg) {
    padding: 20px 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    margin-right: 32px;

    @include media-breakpoint-down(sm) {
      margin-right: 16px;
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__btn {
    margin-right: 16px;

    @include media-breakpoint-down(sm) {
      margin-right: 8px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
