.form {

  &__header {
  }

  &__item {
    padding: 14.5px 16px 5.5px;
    border: 1px solid #dedede;
    border-radius: 8px;

    &--radios {
      padding: 0;
      border: 0;
      border-radius: 0;
    }

    &--placeholder {
      border: 0;
    }
  }

  &__label {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: #2a3338;
  }

  &__input {
  }

  &__subheader {
  }

  &__item-radios-wrapper {
    display: flex;
    align-items: center;
  }

  &__item-radio {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__footer {
    margin-top: 55px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 32px;
    width: calc(100% - 64px);

    @include media-breakpoint-down(sm) {
      margin-top: 32px;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      grid-gap: 16px;
    }
  }

  &__footer-btn {

    button {
      width: 100%;
    }
  }

  &__footer-check {
    display: flex;
    align-items: center;
  }
}
