.back {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &__arrow {
    margin-top: -1px;
    margin-right: 10px;
    display: block;
    width: 10.5px;
    height: 12px;
    flex-shrink: 0;
  }

  &__title {
    font-size: 12px;
    line-height: 1.3;
    font-weight: 800;
    color: #e5270e;
  }
}
